<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.kalafatic.maintain.core.perspectives.MaintainCorePerspective"
            icon="icons/maintain.png"
            id="eu.kalafatic.maintain.core.perspectives.MaintainCorePerspective"
            name="%perspective.name">
      </perspective>
      <perspective
            class="eu.kalafatic.maintain.core.perspectives.RelEngPerspective"
            icon="icons/releng_gears.gif"
            id="eu.kalafatic.maintain.core.perspectives.RelEngPerspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   
   
   <extension
         id="eu.kalafatic.maintain.core.application"
         name="%extension.name"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/maintain.png"
            thread="main"
            visible="true">
         <run
               class="eu.kalafatic.maintain.core.Application">
         </run>
      </application>
   </extension>
   <extension
         id="maintain"
         name="%extension.name.0"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.kalafatic.maintain.core.application"
            name="Maintain">
         <property
               name="appName"
               value="Maintain">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="20,300,460,15">
         </property>
         <property
               name="startupMessageRect"
               value="20,280,460,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="eu.kalafatic.maintain.core.handlers.definition1">
         <with
               variable="selection">
            <equals
                  value="Project">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="eu.kalafatic.maintain.core.providers.Decorator"
            icon="icons/th_horizontal.gif"
            id="eu.kalafatic.maintain.core.decorator1"
            label="label"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=saveMarker">
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/save_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAll"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:Tools?after=languageMarker">
         <menu
               icon="platform:/plugin/eu.kalafatic.utils/icons/languages/language.png"
               id="eu.kalafatic.gemini.core.menus.languagesMenu"
               label="%menu.label"
               mnemonic="%menu.mnemonic">
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/czech.gif"
                  label="%command.label"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="cs">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="cs">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/english.gif"
                  label="%command.label.0"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="en">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="en">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/german.gif"
                  label="%command.label.1"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="de">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="de">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/china.gif"
                  label="%command.label.2"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="zh">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="zh">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/russia.gif"
                  label="%command.label.3"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="ru">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="ru">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.kalafatic.utils.handlers.SelectLanguageHandler"
                  icon="platform:/plugin/eu.kalafatic.utils/icons/languages/flags/spain.gif"
                  label="%command.label.4"
                  style="push">
               <parameter
                     name="eu.kalafatic.utils.handlers.SelectLanguageHandler.Parameter"
                     value="es">
               </parameter>
               <visibleWhen>
                  <not>
                     <systemTest
                           property="osgi.nl"
                           value="es">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <command
               commandId="org.eclipse.ui.file.save"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/save_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/save_edit.png"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.file.saveAll"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/saveall_edit.png"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/saveall_edit.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.kalafatic.maintain.core.preferences.MaintainPreferencePage"
            id="eu.kalafatic.maintain.core.preferences.MaintainPreferencePage"
            name="Maintain Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.maintain.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>>

</plugin>
