<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.kalafatic.maintain.view.views.ProjectNavigator"
            id="eu.kalafatic.maintain.view.views.ProjectNavigator"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.kalafatic.maintain.view.editors.MaintainEditor"
            contributorClass="eu.kalafatic.maintain.view.editors.MaintainEditorContributor"
            icon="icons/editor.gif"
            id="eu.kalafatic.maintain.view.editors.MaintainEditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="eu.kalafatic.maintain.contenttypes.ge_rcp_build">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="eu.kalafatic.maintain.contenttypes.ge_jnlp">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.xml">
         </contentTypeBinding>
      </editor>
      <editor
            class="eu.kalafatic.maintain.view.editors.XSDEditor"
            contributorClass="eu.kalafatic.maintain.view.editors.XSDEditorContributor"
            default="false"
            icon="icons/xsd.gif"
            id="eu.kalafatic.maintain.view.editors.XSDEditor"
            name="%editor.name.0">
         <contentTypeBinding
               contentTypeId="org.eclipse.xsd">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="eu.kalafatic.utils.providers.ProjectContentProvider"
            id="org.eclipse.ui.navigator.ProjectExplorer"
            labelProvider="eu.kalafatic.utils.providers.ProjectLabelProvider"
            name="name"
            priority="high">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </possibleChildren>
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            id="eu.kalafatic.explorer.view.commonFilter1"
            name="name">
         <filterExpression>
            <not>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.resources.projectNature"
                        value="org.eclipse.jdt.core.javanature">
                  </test>
               </adapt>
            </not>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern=".*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.kalafatic.maintain.core.perspectives.MaintainCorePerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="eu.kalafatic.explorer.view.views.ExplorerNavigator"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
