<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:File?after=openMarker">
         <menu
               label="%menu.label">
            <command
                  commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                  label="%command.label"
                  style="push">
               <parameter
                     name="action"
                     value="new">
               </parameter>
               <parameter
                     name="type"
                     value="jnlp">
               </parameter>
            </command>
            <menu
                  label="%menu.label.0">
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.0"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.1"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
            </menu>
         </menu>
         <menu
               label="%menu.label.1">
            <command
                  commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                  label="%command.label.2"
                  style="push">
               <parameter
                     name="action"
                     value="new">
               </parameter>
               <parameter
                     name="type"
                     value="jnlp">
               </parameter>
            </command>
            <menu
                  label="%menu.label.2">
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.3"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.4"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="eu.kalafatic.maintain.core.handlers.OpenXSDEditorHandler"
                  icon="icons/xsd.gif"
                  label="%command.label.5"
                  style="push">
            </command>
         </menu>
         <separator
               name="eu.kalafatic.maintain.core.separator1"
               visible="true">
         </separator>
         <menu
               label="%menu.label.3">
            <command
                  commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                  label="%command.label.6"
                  style="push">
               <parameter
                     name="action"
                     value="new">
               </parameter>
               <parameter
                     name="type"
                     value="jnlp">
               </parameter>
            </command>
            <menu
                  label="%menu.label.4">
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.7"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.8"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.kalafatic.maintain.core.views.ProjectNavigator">
         <menu
               label="%menu.label.5">
            <command
                  commandId="eu.kalafatic.maintain.controller.handlers.NewHandler"
                  label="%command.label.9"
                  style="push">
               <parameter
                     name="action"
                     value="new">
               </parameter>
               <parameter
                     name="type"
                     value="jnlp">
               </parameter>
            </command>
            <menu
                  label="%menu.label.6">
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.10"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.11"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
            </menu>
         </menu>
         <menu
               label="%menu.label.7">
            <command
                  commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                  label="%command.label.12"
                  style="push">
               <parameter
                     name="action"
                     value="new">
               </parameter>
               <parameter
                     name="type"
                     value="jnlp">
               </parameter>
            </command>
            <menu
                  label="%menu.label.8">
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.13"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.14"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
            </menu>
         </menu>
         <menu
               label="%menu.label.9">
            <command
                  commandId="eu.kalafatic.maintain.controller.handlers.NewHandler"
                  label="%command.label.15"
                  style="push">
               <parameter
                     name="action"
                     value="new">
               </parameter>
               <parameter
                     name="type"
                     value="jnlp">
               </parameter>
            </command>
            <menu
                  label="%menu.label.10">
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.16"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
               <command
                     commandId="eu.kalafatic.maintain.core.handlers.NewHandler"
                     label="%command.label.17"
                     style="push">
                  <parameter
                        name="action"
                        value="new">
                  </parameter>
                  <parameter
                        name="type"
                        value="jnlp">
                  </parameter>
               </command>
            </menu>
         </menu>
         <separator
               name="eu.kalafatic.maintain.core.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:eu.kalafatic.maintain.core.views.ProjectNavigator?after=actions">
         <command
               commandId="org.eclipse.ui.edit.cut"
               style="push">
         </command>
         <command
               commandId="x"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <instanceof
                           value="java.util.Map">
                     </instanceof>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.kalafatic.maintain.controller.handlers.NewHandler"
            name="%command.name">
         <commandParameter
               id="action"
               name="%commandParameter.name"
               optional="true">
         </commandParameter>
         <commandParameter
               id="type"
               name="%commandParameter.name.0"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="eu.kalafatic.maintain.controller.handlers.EditHandler"
            name="%command.name.0">
         <commandParameter
               id="action"
               name="%commandParameter.name.1"
               optional="true">
         </commandParameter>
         <commandParameter
               id="type"
               name="%commandParameter.name.2"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="eu.kalafatic.maintain.core.handlers.x"
            id="x"
            name="%command.name.1">
      </command>
      <command
            id="eu.kalafatic.maintain.controller.handlers.OpenXSDEditorHandler"
            name="%command.name.2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.kalafatic.maintain.controller.handlers.OpenHandler"
            commandId="eu.kalafatic.maintain.controller.handlers.OpenHandler"
            helpContextId="eu.kalafatic.maintain.controller.handlers.OpenHandler">
         <enabledWhen>
            <reference
                  definitionId="eu.kalafatic.maintain.core.handlers.definition1">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="eu.kalafatic.maintain.controller.handlers.EditHandler"
            commandId="eu.kalafatic.maintain.controller.handlers.EditHandler"
            helpContextId="eu.kalafatic.maintain.controller.handlers.EditHandler">
      </handler>
      <handler
            class="eu.kalafatic.maintain.controller.handlers.NewHandler"
            commandId="eu.kalafatic.maintain.controller.handlers.NewHandler"
            helpContextId="eu.kalafatic.maintain.controller.handlers.NewHandler">
      </handler>
      <handler
            class="x"
            commandId="x">
      </handler>
      <handler
            class="eu.kalafatic.maintain.controller.handlers.OpenXSDEditorHandler"
            commandId="eu.kalafatic.maintain.controller.handlers.OpenXSDEditorHandler"
            helpContextId="eu.kalafatic.maintain.controller.handlers.OpenXSDEditorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="xml"
            id="eu.kalafatic.maintain.contenttypes.ge_rcp_build"
            name="%content-type.name"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="jnlp"
            id="eu.kalafatic.maintain.contenttypes.ge_jnlp"
            name="%content-type.name.0"
            priority="high">
      </content-type>
      <file-association
            content-type="eu.kalafatic.internal.maintain.contenttypes.ge_jnlp"
            file-extensions="jnlp"
            file-names="gemini">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.kalafatic.maintain.controller.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.kalafatic.maintain.core.preferences.MaintainPreferencePage"
            class="eu.kalafatic.maintain.controller.preferences.SamplePreferencePage"
            id="eu.kalafatic.maintain.controller.preferences.SamplePreferencePage"
            name="Sample Preferences">
      </page>
   </extension>

</plugin>
